@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';

@layer utilities {
  .loader {
    transform: skewX(-45deg);
    background: linear-gradient(#f03355 0 0) left -30px top 0/30px 20px no-repeat
      #ccc;
    animation: l3 1s infinite linear;
  }

  @keyframes l3 {
    100% {
      background-position: right -30px top 0;
    }
  }
}

.logo-text {
  font-weight: bold;
  font-size: 60px;
  fill: #c8102e;
}
.logo-text-span {
  font-size: 70px;
   letter-spacing: -15px;
}
